body {
  background-color: #4F5052;
  text-align: center;
}

canvas { 
  background-color: black;
}

#menu {
  background-image: url("https://i.imgur.com/zsxOfMk.jpg?1");
  height: 600px;
  width: 800px;
}
  
.center {
  display: flex;
  justify-content: center;
}

h1 {
  color: lightblue;
  font-size: 100px;
  font-weight: 800;
  font-family: 'Press Start 2P', cursive;

}

h3 {
  color: lightblue;
  font-size: 24px;
  font-weight: 800;
  padding-top: 300px;
  font-family: 'Press Start 2P', cursive;

}


